@model GeoPedia.Models.Countries_Cities
@*This view is using a view model*@
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Custom_Layout.cshtml";
}

<h2>Details</h2>

<h2>@Html.ActionLink(Model.Country.Name, "Details", "Countries", new { code = Model.Country.Code}, null)</h2>

<h2>Cities</h2>
@foreach(var item in Model.Cities)
{
    <div>
        <h3>@item.Name</h3>
    </div>
}