@model IEnumerable<GeoPedia.Models.City>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Custom_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*The scaffolder defaults to a table display, but tables are not an optimal display of data largely due to the lack of scale on mobile screens*@

@foreach(var item in Model)
{
    <div>
        <h3>@Html.ActionLink(item.Name, "Details", new { id = item.Id})</h3>
    </div>
}