@model GeoPedia.Models.Countries_Cities
@{
    Layout = "~/Views/Shared/_Custom_Layout.cshtml";
}

<section id="countries">
    <h2 class="text-center">@Html.ActionLink("Countries", "Index", "Countries")</h2>
    @foreach (var item in Model.Countries)
    {
        <div>
            <h3>@Html.ActionLink(item.Name, "Details", "Countries", new { code = item.Code}, null)</h3>
            @*The HTML ActionLink will generate a link that will lead us to the appropriate controller/action and arguments for that action.*@
            @*This example will generate a link like so: [domain]/countries/details/?code=[country code]*@
        </div>
            <hr />
    }
</section>
<section id="cities">
    <h2 class="text-center">@Html.ActionLink("Cities", "Index", "City")</h2>
    @foreach (var item in Model.Cities)
    {
        <div>
            <h3>@Html.ActionLink(item.Name, "Details", "Cities", new { id = item.Id}, null)</h3>@*An HTML helper that will generate a link that will lead to the appropriate controller/action and provide an argument for the action, details.*@
        </div>
            <hr />
    }
</section>