
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Custom_Layout.cshtml";
}

<h2>Errors</h2>
<p>You have reached this page because of an error. Here's why:</p>
<p>@ViewBag.ExceptionMessage</p>

